/!xls/
/log/
/reports/
/flash/
/nbproject/private/
/build/
/dist/
/online/
/update_old/
/update/
/XLS/
/flash
log
lap.log
flash
online
/VSTimeMachine.log
/web/pilots_photo/
/web.tmpdir/